.home__body { 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
    padding: 20px; 
    align-items: start;
    justify-items: center
}

@media only screen and (min-width: 768px) {
    .home__body { 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        padding: 20px
    }   
}

@media only screen and (min-width: 1200px) {
    .home__body { 
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        padding: 20px 
    }
}

@media only screen and (min-width: 1921px) {
    .home__body { 
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px;
        padding: 20px
    }
}
