@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root { 
    --orangeColor: #FE6613;
    --brighterOrangeColor: #ff7d33;
    --blueColor: #1B2653;
    --brighterBlueColor: #617deb;
    --grayColor: #787878;
    --mediumGrayColor: #D9D9D9;
    --brighterGrayColor: #F7F7F7;
    --whiteColor: #FFFFFF;
    --blackColor: #1b1b1b;
    --greenColor: #218a2a;
    --brighterGreenColor: #37b642;
    --commonTransition: 0.5s
}

* { 
    margin: 0;
    box-sizing: border-box !important;
    font-family: "Roboto", sans-serif
}

a { 
    text-decoration: none
}

.generic__container { 
    background-color: var(--whiteColor);
    position: relative;
    height: 500px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px solid var(--blackColor);
    -ms-overflow-style: none;
    scrollbar-width: none 
}

.generic__containerDivision { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px
}

.generic__container::-webkit-scrollbar { 
    display: none 
}

.generic__containerTitle { 
    padding: 15px;
    font-weight: 500;
    color: var(--blueColor)
}

.generic__input { 
    margin: 0 15px;
    border: 1px solid var(--grayColor);
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    resize: none;
    font-size: 19px;
    transition: var(--commonTransition)
}

.generic__inputResult { 
    border: var(--orangeColor) 2px solid;
    color: var(--grayColor)
}

.generic__textarea { 
    height: 130px
}

.generic__button { 
    margin-left: 15px;
    padding: 10px;
    background-color: var(--orangeColor);
    border: none;
    border-radius: 5px;
    font-size: 19px;
    color: var(--whiteColor);
    transition: var(--commonTransition)
}

.generic__buttonContainer { 
    display: flex;
    width: 100%;
    margin-left: 15px
}

.generic__button:hover { 
    background-color: var(--brighterOrangeColor);
    cursor: pointer
}

.generic__image { 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block 
}